@charset "utf-8";
/* CSS Document */

/************************************************************************************
RESET
*************************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, {
 display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	border: none;
	outline: none!important;
}
a:active {
	outline: none;
}
a:focus {
	-moz-outline-style: none;
}
.clear {
	clear: both;
}
/************************************************************************************
FONT
*************************************************************************************/
/*@font-face {
	font-family: 'Conv_segoepr_0';
	src: url('../fonts/segoepr_0.eot');
	src: local('☺'), url('../fonts/segoepr_0.woff') format('woff'), url('../fonts/segoepr_0.ttf') format('truetype'), url('../fonts/segoepr_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*@font-face {
	font-family: 'Conv_Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: local('☺'), url('../fonts/Oswald-Light.woff') format('woff'), url('../fonts/Oswald-Light.ttf') format('truetype'), url('../fonts/Oswald-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


@font-face {
	font-family: 'Conv_futuralc';
	src: url('../fonts/futuralc.eot');
	src: local('☺'), url('../fonts/futuralc.woff') format('woff'), url('../fonts/futuralc.ttf') format('truetype'), url('../fonts/futuralc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background: url(../images/bg.png) repeat #fff;
	color: #212121;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
/*=================================
header portion starts here
=================================*/
#header {
	background: url(../images/bg.png) repeat #fff;
	border-bottom: 2px solid #fff;
	border-top: 3px solid #ca3231;
	width: 100%;
}
#header_inner {
	width: 1000px;
	margin: 0 auto;
	height: 115px;
}
#logo {
	width: 25%;
	float: left;
	margin: 15px 0px 0px 0px;
}
#header_right {
	width: 75%;
	float: left;
	padding: 25px 0px 10px 0px;
}
#contact_search {
	width: 100%;
}
#contact_number {
	height: 22px;
	background: url(../images/callnumber..png) no-repeat;
	font-size: 15px;
	padding: 3.6px 0 0 33px;
	width: 117px;
	float: right;
	margin: 0px 10px 0px 0px;
}
.ie7 #contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
.ie8 #contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
.ie9 #contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
#searchhead {
	height: 23px;
	background: url(../images/searchh.png) no-repeat;
	font-size: 15px;
	padding: 0px 0 0 0px;
	width: 180px;
	float: right;
	margin: 2px 0px 0px 0px;
}
.textboxhead {
	margin: 3px 0px 0px 0px;
	width: 140px;
	float: left;
	background: none;
	border: none;
	padding: 3px 0px 5px 5px;
	height: 10px;
}
.ie7 .textboxhead {
	margin-top: 0px;
}
.ie8 .textboxhead {
	margin-top: 0px;
}
.ie9 .textboxhead {
	margin-top: 1px;
}
.search_icon {
	margin: 3.5px 5px 0px 0px;
	float: right;
	width: 15px;
	height: 14px;
}
/*=================================
mobile search portion starts here
=================================*/



#mob_contact_search {
	width: 100%;
	display: none;
}
#mob_contact_number {
	height: 25px;
	background: url(../images/callnumber..png) no-repeat;
	font-size: 15px;
	padding: 3.6px 0 0 33px;
	width: 117px;
	margin: 5px auto;
	display: none;
}
.ie7 #mob_contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
.ie8 #mob_contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
.ie9 #mob_contact_number {
	height: 21px;
	padding: 5px 0 0 33px;
}
#mob_searchhead {
	height: 29px;
	background: url(../images/mobsearch.png) no-repeat;
	font-size: 15px;
	padding: 0px 0 0 0px;
	width: 223px;
	margin: 5px auto 7px auto;
}
.mob_textboxhead {
	margin: 6px 0px 0px 0px;
	width: 188px;
	float: left;
	background: none;
	border: none;
	padding: 3px 0px 5px 5px;
	height: 10px;
}
.ie7 .mob_textboxhead {
	margin-top: 0px;
}
.ie8 .mob_textboxhead {
	margin-top: 0px;
}
.ie9 .mob_textboxhead {
	margin-top: 1px;
}
.mob_search_icon {
	margin: 5.5px 5px 0px 0px;
	float: right;
	width: 15px;
	height: 14px;
}
/*=================================
nav portion starts here
=================================*/ 
#nav {
	margin: 20px 0px 0px 0px;
	position: relative;
	z-index: 2000;
}
#nav ul {
	display: block;
	float: right;
}
#nav li {
	list-style: none;
	float: left;
	padding: 5px 0px 0px 0px;
	position: relative;
}
#nav li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #6e6e6e;
	font-size: 12px;
}
#nav li a:hover {
	background: #901e21;
	color: #FFF;
	text-shadow: none;
}
/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px;
	height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}
#nav li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 25px 0 0;
	margin: 0;
}
#nav li:hover > ul {
	display: block;
}
#nav li ul li, #nav li ul li a {
	background: #901e21;
	display: block;
	border-bottom: #640002 1px dashed;
	float: none;
	text-shadow: none;
	font-size: 11px;
	color: #fff;
}
#nav li ul li, #nav li ul li a:hover {
	color: #4b4b4b;
}
#nav li ul li {
	_display: inline; /* for IE6 */
}
#nav li ul li a {
	width: 150px;
	display: block;
}
/* SUBSUB Menu */

#nav li ul li ul {
	display: none;
}
#nav li ul li:hover ul {
	left: 100%;
	top: 0;
	color: #903;
}
/*=================================
mobile navigation portion starts here
=================================*/
.submenu_link {
	background: #333;
	width: 100%;
}
.sub_links {
	display: block;
	width: 100%;
	background: #f0f0f0;
	text-align: center;
	border-bottom: #fff 1px solid;
	float: none;
}
.sub_links a {
	list-style: none;
	padding: 8px 24px;
	text-decoration: none;
	color: #901e21;
	font-size: 14px;
	display: block;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
}
.sub_links a:hover {
	color: #09F;
}
.sub_links a:active {
	outline: none;
}
.sub_links a:focus {
	-moz-outline-style: none;
}
#mob_nav {
	margin-top: 10px;
	display: none;
	border: #900 5px solid;
}
#mob_nav_inner {
	border: #a0a0a0 1px dotted;
	padding: 0px 0px;
}
.mob_nav_inner_li {
	display: block;
	width: 100%;
	background: #666;
	text-align: center;
	border-bottom: #999 1px solid;
	float: none;
}
.mob_nav_inner_li a {
	list-style: none;
	padding: 8px 24px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	display: block;
}
.mob_nav_inner_li a:hover {
	color: #901E21;
	text-shadow: none;
}
.mob_go {
	border-right: none !important;
	float: left;
	background: #CD7940;
}
.mob_search {
	padding: 0px 0px 0px 5px;
	float: left;
	display: block;
	width: 95%;
	height: 30px;
	border: none;
	color: #fff;
	background: #981f11;
}
.mob_nav_right {
	display: block;
}
.mob_nav_right a {
	font-size: 19px !important;
	width: 100%;
	padding: 4px 0px !important;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
.mob_nav_right a:hover {
	color: #901e21;
}
#mob_nav_toggle_link {
	height: 50px;
	padding: 0px 0px 0px 0px;
	background: url(../images/menu.png) repeat-x;
	border-bottom: #999 1px solid;
	width: 99.9%;
}
#mob_nav_toggle_link label {
	display: block;
	padding: 10px;
	text-align: center;
	float: right;
}
.white {
	display: block;
	height: 32px;
	width: 100%!important;
	background: #981f11!important;
	text-align: center;
	border-bottom: #999 1px solid;
	float: none;
}
input:focus {
	outline: none;
}
.freediv {
	height: 10px;
}
/*=================================
banner portion starts here
=================================*/
#banner {
	width: 100%;
	height: 400px;
}
.banner_link {
	background: url(../images/bannercontentbg.png) repeat-x;
	top: 180px;
	right: 0px;
	width: 500px;
	padding: 20px 20px 20px 20px;
	height: 202px;
	display: block;
	z-index: 1000;
	position: absolute;
}
.banner_link h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 32px;
	margin: 0px 0px 20px 0px;
}
.banner_link p {
	line-height: 22px;
	margin: 20px 0px 0px 0px;
	width: 63%;
	color: #FFF;
	text-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
}
.banner_linkb {
	margin-top: 20px!important;
}
.banner_linkb a {
	color: #FFF;
	text-decoration: none;
}
.banner_linkb a:hover {
	color: #B82717;
}
.banner_link_bottom {
	display: none;
	font-size: 11px;
	bottom: 0;
	background: url(../images/banner_link_bottom.png) repeat;
	width: 100%;
	height: auto;
	z-index: 1000;
	position: absolute;
}
.banner_link_bottom p {
	padding: 3px 3px 3px 5px;
	float: left;
	text-align: left;
	line-height: 18px;
	color: #FFF;
	text-shadow: none;
}
.banner_link_bottoma {
	float: right;
	margin-left: 40px;
}
.banner_link_bottoma a {
	color: #FFF;
	text-decoration: none;
	text-align: center;
}
.banner_link_bottoma a:hover {
	color: #B82717;
}
/*=================================
content portion starts here
=================================*/
#content {
	width: 100%;
}
#content_inner {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
}
.welcome {
	width: 100%;
}
.welcome_video {
	width: 282px;
	height: 184px;
	float: left;
}
.welcome_video img {
	width: 100%;
}
.welcome_shadow {
	background: url(../images/welcomeshadow.png) no-repeat;
	height: 184px;
	width: 19px;
	float: left;
	margin: 0px 15px 0px 0px;
}
.welcome_note {
}
.welcome_note h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #5f5f5f;
	font-size: 30px;
	margin: 0px 0px 15px 0px;
}
.welcome_note p {
	color: #727272;
	line-height: 20px;
	text-shadow: none;
}
.welcome_note a {
	text-decoration: none;
	color: #c93232;
	text-shadow: none;
	margin-top: 15px;
	display: block;
}
.welcome_note a:hover {
	color: #00b8d9;
}
/*=================================
middle section starts here
=================================*/

#middle_section {
	width: 100%;
	height: auto;
	margin-top: 35px;
	margin-bottom: 60px;
}
#middle_section h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #5f5f5f;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
#middle_section h4 {
	font-size: 18px;
	color: #333;
	font-family: 'Open Sans Condensed', sans-serif;
}
.box {
	width: 295px;
	height: 270px;
	padding: 10px;
	background-color: #FFF;
	border-color: #D0D0D0 #D0D0D0 #C93232;
	border-style: solid;
	border-width: 1px 1px 3px;
}
.qtn {
	background: url("../images/qtn_a.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 20px;
	margin: 0 10px 0 0;
	width: 10px;
}
.qtn_b {
	height: 20px;
	width: 10px;
	margin-left: 5px;
}
.box p {
	color: #C93232;
	display: block;
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	margin-top: 20px;
	width: 90%;
}
.boximg {
	width: 100%;
}
#testimonial {
	float: left;
	margin-right: 14px;
	position: relative;
}
#signs {
	float: left;
	margin-right: 14px;
	position: relative;
}
#client {
	float: left;
	position: relative;
}
.more a {
	display: block;
	height: 63px;
	width: 63px;
}
.more {
	background: url("../images/more.png") no-repeat;
	display: block;
	position: absolute;
	right: 22px;
	bottom: -33px;
	cursor: pointer;
	height: 63px;
	width: 63px;
	display: block;
}
.more:hover {
	background: url("../images/more_hover.png") no-repeat;
}
#middle_section_shadow {
	width: 100%;
}
#middle_section_shadow img {
	width: 100%;
}
/*=================================
about us portion starts here
=================================*/
#wrapper {
	width: 100%;
}
#wrapper_inner {
	width: 1000px;
	margin: 0 auto 0px auto;
}
.banner_image {
	width: 1000px;
	height: 215px;
	border: 3px solid #FFF;
}
.banner_image img {
	width: 100%;
}
#aside_left {
	width: 71%;
	float: left;
	padding: 30px 0px 30px 0px;
}
#work_heading {
	width: 97%;
	border-bottom: 1px solid #ca3133;
	padding-bottom: 5px;
}
#aside_left h1 {
	font-family: 'Open Sans Condensed';
	color: #5f5f5f;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
}
#work_dropdown {
	float: right;
	margin-top: -30px;
	margin-right: 30px;
	border: 1px solid #b2b2b2;
	width: 100px;
	color: #727272;
	font-size: 14px;
}
#ourworks_filter {
	float: right;
	margin-top: -30px;
	margin-right: 30px;
	border: 1px solid #b2b2b2;
	width: 100px;
	color: #727272;
	font-size: 14px;
}

#products_filter{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
	border: 1px solid #b2b2b2;
	width: 100px;
	color: #727272;
	font-size: 14px;
}
#aside_left p {
	margin: 20px 0px 0px 0px;
	width: 95%;
	line-height: 22px;
}
#aside_left h3 {
	font-family: 'Open Sans Condensed';
	color: #5f5f5f;
	font-size: 24px;
	margin: 20px 0px 20px 0px;
	width: 80%;
}
.why_choose {
	background: url(../images/bullettt.png) no-repeat left 3px;
	font-size: 13px;
	padding: 0px 0px 0px 20px;
	display: block;
	margin-bottom: 10px;
}
#aside_right {
	background: #7e1719;
	width: 29%;
	float: left;
	padding-top: 40px;
	height: 750px;
}
/*
#aside_right_inner{ position:absolute;
    height:100%;
	width:100%;
}*/

#aside_right_contact {
	border: 2px solid #e0dedf;
	width: 90%;
	margin: 0 auto;
	padding: 0px 0px 20px 0px;
	background: #ffffff;
}
#aside_right_contact h1 {
	font-family: 'Open Sans Condensed';
	color: #fff;
	text-shadow: none;
	text-align: center;
	font-size: 30px;
	background: #545454;
	padding: 5px 0px;
	width: 100%;
	text-transform: uppercase;
}
#aside_right_contact_today {
	font-family: 'Open Sans Condensed';
	margin: 10px auto 20px;
auto;
	display: block;
	border: 2px solid #d2d2d2;
	color: #fff;
	text-shadow: none;
	text-align: center;
	font-size: 27px;
	background: #b91633;
	padding: 10px 10px;
	width: 80%;
	text-transform: uppercase;
}
#aside_right_contact p {
	font-family: 'Open Sans Condensed';
	font-size: 20px;
	color: #b91633;
	margin: 5px auto 5px auto;
	width: 88%;
}
#service {
	width: 89%;
	margin: 0 auto;
}
#service h1 {
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
	color: #fff;
	text-shadow: none;
	font-size: 28px;
	margin: 20px 0px 10px 0px;
}
.service_li {
	position: relative;
	width: 93%;
	background: url(../images/blgbg.png) #e4e4e4;
	border: #d0d0d0 1px solid;
	border-bottom: #fff 2px solid;
	padding: 10px 10px 10px 10px;
}
.service_li img {
	border: #d0d0d0 1px solid;
	margin: 0 auto;
	width: 99.7%;
}
.service_li p {
	margin: 5px auto 10px auto;
	display: block;
	font-family: 'Open Sans Condensed';
	width: 90%;
	font-size: 20px;
	color: #c93232;
}
/*=================================
products portion starts here
=================================*/
#product {
	padding: 50px 0px 25px 0px;
}
#product_heading {
	width: 97%;
	border-bottom: 1px solid #ca3133;
	padding-bottom: 5px;
}
#more_button {
	display: block;
	float: right;
	background-color: #cb3133;
	width: 40px;
	padding: 2px 5px 2px 5px;
	margin-right: 50px;
	margin-bottom: 10px;
}
#more_button a {
	text-decoration: none;
	color: #FFF;
	text-shadow: none;
	margin-right: 2px;
}
#more_button img {
	vertical-align: middle;
}
.main_product_image {
	width: 258px;
	height: 188px;
	border: 4px solid #fff;
	float: left;
}
.main_product_image img {
	width: 100%;
}
.main_product_image_content {
	float: left;
	width: 55%;
	margin: 0px 0px 0px 15px;
}
.main_product_image_content h4 {
	font-family: 'Open Sans Condensed';
	font-size: 25px;
}
.main_product_image_content p {
}
.product_temp {
	width: 97%;
}
.product_temp li {
	list-style: none;
	border: 2px solid #fff;
	height: 80px;
	width: 112px;
	float: left;
	margin: 0px 20px 20px 0px;
}
/*=================================
accordion portion starts here
=================================*/
#accordion-container {
	float: left;
	margin-top: 30px;
	width: 172px;
}
.accordion-header {
	font-size: 12px;
	background: #e03a3c;
	margin: 3px 0 0px 0;
	padding: 5px 25px;
	cursor: pointer;
	color: #FFF;
	text-shadow: none;
}
.accordion-header a {
	text-decoration: none;
	color: #FFF;
}
.accordion-content {
	display: none;
	padding: 10px;
	background: #ffffff;
	color: #727272;
}
.accordion-content p {
	margin-top: 0px!important;
	line-height: 18px!important;
	text-shadow: none!important;
	width: auto!important;
}
.active-header {
	background: url(../images/active_header.jpg);
	background-position: 2% 50%;
	background-repeat: no-repeat;
	background-color: #e03a3c;
}
.active-header:hover {
	background: url(../images/active_header.jpg);
	background-position: 2% 50%;
	background-repeat: no-repeat;
	background-color: #e03a3c;
}
.inactive-header {
	background: url(../images/inactive_header.jpg);
	background-position: 2% 50%;
	background-repeat: no-repeat;
	background-color: #e03a3c;
}
.inactive-header:hover {
	background: url(../images/inactive_header.jpg);
	background-position: 2% 50%;
	background-repeat: no-repeat;
	background-color: #e03a3c;
}
/*=================================
accordion sorting
==================================*/

.accordion-header2 {
	font-size: 12px;
	background: #e03a3c;
	margin: 3px 0 0px 0;
	padding: 5px 25px;
	cursor: pointer;
	color: #FFF;
	text-shadow: none;
}
.plain-header {
	font-size: 12px;
	background: #FF7A7C;
	margin: 3px 0 0px 0;
	padding: 5px 25px;
	cursor: pointer;
	color: #FFF;
	text-shadow: none;
}
.plain-header a {
	text-decoration: none;
	color: #FFF;
}
.accordion-content2 {
	display: none;
	padding: 20px;
	background: #ffffff;
	color: #727272;
}
.accordion-content2 li {
	list-style: circle;
}
.accordion-content2 a {
	text-decoration: none;
	color: #727272;
}
.active-header2 {
	background: url(../images/active-header.gif) no-repeat #FF7A7C;
	background-position: right 50%;
}
/*.active-header2:hover{
	background-color:#e03a3c;
}*/
.inactive-header2 {
	background: url(../images/inactive-header.gif) no-repeat #FF7A7C;
	background-position: right 50%;
}
/*.inactive-header2:hover{
	background-color:#e03a3c;
}*/



/*=================================
gallery portion starts here width: 62%;
=================================*/
.gallery_image {
	float: right;
	width: 100%;
	margin: 30px 0px 0px 0px;
}
#gallery_image {
	float: right;
	width: 62%;
	margin: 30px 0px 0px 0px;
}

.gallery_image li {
	list-style: none;
	border: 2px solid #fff;
	height: 90px;
	width: 120px;
	float: left;
	margin: 0px 10px 20px 0px;
}
.gallery_image li img {
	width: 100%;
	height: 100%;
}
#work_pagination {
	padding: 10px 0 10px 0;
	margin-top: 30px;
	border-top: 1px solid #CA3133;
	border-bottom: 1px solid #CA3133;
	width: 97%;
	color: #CA3133;
	font-size: 12px;
}
#work_pagination ul{
	margin:0;
	padding:0;
	list-style:none;
}
#work_pagination ul li{
	display:inline-block;
}
#work_pagination ul li a{
	color: #CA3133;
	text-decoration: none;
}
#pages_link {
	float: right;
}
.active_page {
	
	display: inline-block;
	width: 12px;
	margin-right: 2px;
	padding-left: 5px;
}
.active_page:hover {
	text-decoration: underline;
}
.inactive_page {
	border: 1px solid #CA3133;
	color: #CA3133;
	text-decoration: none;
	display: inline-block;
	width: 12px;
	margin-right: 2px;
	padding-left: 5px;
}
/*========================
STAFFS PORTION
========================*/

#staff_container {
	width: 97%;
}
.staff_box {
	margin-top: 40px;
}
.staff_photo {
	width: 151px;
	height: 107px;
	float: left;
}
.staff_photo img {
	width: 100%;
	border: 2px solid #a2a2a2;
	margin-top: 5px;
}
.staff_details {
	float: right;
	width: 72%;
}
.staff_name {
	font-size: 18px;
	margin: 0!important;
	padding: 0!important;
}
.staff_post {
	font-size: 14px;
	margin-top: 2px!important;
	padding: 0!important;
}
.staff_about {
	margin-top: 10px!important;
	padding: 0!important;
}
/*=============================
TESTIMONIAL PORTION
=============================*/

#testimonial_container {
	width: 97%;
	color: #727272;
	line-height: 20px;
}
.testimonial_box {
	border: 1px solid #CA3133;
	margin-top: 20px;
	height: auto;
	padding: 10px;
}
.testimonial_photo {
	float: left;
	width: 214px;
	height: 119px;
}
.testimonial_photo img {
	width: 100%;
	border: 2px solid #a2a2a2;
}
.testimonial_about {
	width: 64%;
	float: right;
}
.testimonial_person {
	clear: both;
	float: right;
	margin-top: -10px;
	margin-right: 10px;
}

/*===================
contact us page
===================*/
#contact_container{
}
#contact_sub_container{
	width:60%;
	float:left;
}
#contact_ne{
	width: 100%;
}
#contact_ne h3{
	color: #5F5F5F;
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    margin-top:20px;
    width:auto;
}
#contact_ne p a{
	color: #5F5F5F;
    margin: 20px 0 0;
    width: auto;
	text-decoration:none;
}
#contact_map{
	background: #FFF;
	height: 130px;
	width: 100%;
	margin: 45px 35px 0px 0px;
}
#contact_address{
	float:left;
	color:#5F5F5F;
	width:23%;
	font-size:20px;
	margin-left: 65px;
    margin-top: 148px;
}
#contact_address p{
	font-family:'Open Sans Condensed';
	line-height:28px;
}

/*=============================
Products main
=============================*/
.product_list{
	width:97%;
}
.main_product{
	margin:0;
	padding:0;
	list-style:none;
}
.main_product li{
	display:block;
	width:271px;
	float:left;
	margin-right:70px;
	margin-top:30px;
}
.main_product li:last-child{
	margin-right:0;
}
.main_product img{
	width:100%;
	border:2px solid #FFF;
}
.main_product h1{
	color: #5F5F5F;
    font-family: 'Open Sans Condensed';
    font-size: 25px!important;
    text-transform: none!important;
	border-bottom: 1px solid #CA3133;
}






/*=================================
footer portion starts here
=================================*/
#footer {
	background: url(../images/footerbg.png) repeat;
	border-top: 3px solid #962328;
}
#footer_inner {
	width: 1000px;
	margin: 0 auto;
}
#footer_inner_menu {
	width: 10%;
	float: left;
	padding: 0px 0px 0px 0px;
}
#footer_inner_menu h2 {
	padding: 25px 0px 0px 0px;
	font-family: 'Open Sans Condensed';
	color: #959595;
	font-size: 20px;
	-moz-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	margin: 0px 0px 20px 0px;
}
#footer_inner_menu ul {
}
#footer_inner_menu li {
	list-style: none;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
#footer_inner_menu li a {
	color: #a1a1a1;
	padding: 5px 0px;
	display: block;
	-moz-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
#footer_inner_menu li a:hover {
	color: #962428;
}
#footer_inner_contact {
	width: 28%;
	float: left;
	padding: 0px 35px;
}
#footer_inner h2 {
	padding: 25px 0px 0px 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #959595;
	font-size: 25px;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	margin: 0px 0px 20px 0px;
}
#footer_inner_contact p {
	color: #a1a1a1;
	-moz-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	padding: 3px 0px;
	font-size: 13px;
}
.contact_mail {
	width: 253px;
}
.calll {
	margin-right: 10px;
	padding: 0px 0px 0px 0px;
	display: block;
	background: url(../images/call.png) no-repeat 0 5px;
	width: 21px;
	height: 27px;
	float: left;
}
#footer_inner_contact h3 {
	color: #959595;
	font-size: 20px;
	float: left;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	margin: 10px 0px 0px 0px;
}
#footer_inner_contact h4 {
	color: #959595;
	font-size: 12px;
	float: left;
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	margin: 10px 0px 20px 0px;
	width: 100%;
	text-decoration: none;
	vertical-align: middle;
}
#footer_inner_contact h4 a {
	text-decoration: none;
	color: #959595;
	vertical-align: middle;
}
.mail {
	margin-right: 10px;
	padding: 0px 0px 0px 0px;
	display: block;
	background: url(../images/mailicon.png) no-repeat 0 0px;
	width: 21px;
	height: 27px;
	float: left;
}
.footer_inner_contact_left {
	float: left;
}
.map {
	background: #990;
	height: 130px;
	width: 250px;
	float: left;
	margin: 45px 35px 0px 0px;
}
#footer_inner_socialmedia {
	width: 18%;
	float: left;
	padding: 0px 35px;
}
.rightborder {
	background: url(../images/footer_rightborder.png) repeat-y;
	width: 3px;
	height: 247px;
	float: left;
}
#mobile_socialmedia {
	float: none;
	width: 178px;
	display: block;
}
.copyright {
	padding: 10px 0px;
	text-align: center;
	background: #1c1c1c;
	color: #959595;
	font-size: 11px;
	-moz-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	-webkit-text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
}

/*======================
Client of The Month
=======================*/
.client_testimonial{
	width:97%;
	margin-top:50px;
}
.client_left{
	
}
.client_photo {
	width: 300px;
	height: 100px;
	margin:0 auto;
}
.client_photo img {
	width: 100%;
	border:2px solid #c3c3c3;
}
.client_name{
	font-size:14px;
	margin:0!important;
	margin-top:10px!important;
	text-align:center;
}
.client_comp{
	color:#CA3133;
	margin:0!important;
	text-align:center;
}
.client_right{
	margin:0 auto;
	width: 80%;
	margin-top:20px;
	background-color:#FFF;
	border-radius:6px;
	border:1px solid #C3C3C3;
	padding: 0 10px 18px 20px;
}
